:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.card-header-chart {
  padding-right: 0 !important;
}

.m-h-0 {
  min-width: 0;
}
