:host{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.sidebar-section {
  position: sticky;
  align-self: start;
  width: 350px;
}

.button-container {
/*  position: sticky;
  bottom: 0;*/
  padding-top: 1rem!important;
  border-top: 1px solid #e0e0e0!important;
  z-index: 10;
}

.container-fluid {
  flex: 1;
  min-height: 0;
}
