.sidebar-section {
  position: sticky;
  align-self: start;
  width: 350px;
}

.button-container {
/*  position: sticky;
  bottom: 0;*/
  padding-top: 1rem!important;
  border-top: 1px solid #e0e0e0!important;
  z-index: 10;
}
