.disabled-rounded-start {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.disabled-rounded-end {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.mt-4 {
  margin-top: 9rem !important;
}
