:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.container-fluid {
  flex: 1;
  min-height: 0;
}

.module-card {
  width: 290px;
  min-width: 290px;
}

.top-35 {
  top: 35vh;
}

.right-50 {
  right: 50%;
}
