:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}


.log-analyzer-container {
  .tab-header {

  }

  .nav-tabs {
    .nav-item {
      .nav-link {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .warning-empty-discovery {
    i {
      font-size: 100px;
      color: rgba(0, 75, 139, 0.30) !important;
    }
  }
}
