:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.icon-2x {
  font-size: 0.1em;
}

.active-row {
  background-color: #dbeefd;
  font-weight: 400;
}

.has-minimum-width {
  min-width: 90px;
}
