:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.popover {
  width: 320px !important;
  max-width: 800px !important;
}

table {
  tbody {
    border: 0 !important;

    td {
      .source {
        margin-bottom: 0;
        line-height: 2em;
        word-break: break-word;
        white-space: normal;
      }
    }
  }
}

.col-summary {
  width: 80%;
}

.col-summary.utm-table-sort-none:before,
.col-summary.utm-table-sort-none:after {
  display: none;
}

.border-1 {
  border-radius: 4px;
}

.gap-2 {
  gap: .5rem;
}

.table-responsive {
  overflow: hidden!important;
  overflow-y: auto!important;
}

.summary-wrapper {
  max-height: 30px;
  overflow: hidden;
  white-space: pre-wrap;
  position: relative;
}

.filter-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





