.phantom-action {
  border: 1px dashed #cbd5e1;
  background-color: #f9fafb;
  transition: background-color 0.2s ease;
  justify-content: center;
  min-height: 210px;

}

.action-block {
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  border-color: #cfd4da;
  box-shadow: 0 0 0 2px #e2e6ea;


  .icon-box,
  .icon-bin,
  .icon-plus2 {
    width: 32px;
    height: 32px;
    background-color: #e9ecef;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #495057;
  }
}

.hover-shadow {
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #f1f5f9;
  box-shadow: 0 0 0 2px #cbd5e1;
  }
}

