.btn-expand {
  // border: 1px solid #004b8b;
  background-color: white;
  color: #004b8b ;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  gap:0.3rem;
}

.text-xs{
  font-size:0.58rem !important;
}



.btn-expand:hover:not(:disabled) {
  border-color: #004b8b ;
}

.btn-expand:active:not(:disabled) {
  background-color: #004b8b ;
  // border-color: #004b8a;
  transform: scale(0.98);
}

.btn-expand:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-expand i {
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: right;
}

.btn-expand .spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-children-spacer {
  display: inline-block;
  width: 70px;
  height: 32px;
}
.echoes-icons{
  filter: invert(30%) sepia(94%) saturate(2000%) hue-rotate(190deg) brightness(95%) contrast(101%);
}
