@import "../../../../assets/styles/theme";
@import "../../../../assets/styles/var";
@import "../../../../assets/styles/custom-elements";

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}



.card-right-detail {
  .card-detail {
    height: 100%;
    //overflow-y: scroll;
  }
}

.input-group {

}

.form-control {
  font-size: 12px !important;
}

.bg-transparent {
  background-color: transparent;
}
