.step-title {
  position: absolute;
  bottom: 35px;
}

.wizard-step .step-link {
  padding-top: 0 !important;
}

.step-icon {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}


.workflow-card {
  border-left: 5px solid #198754; /* verde bootstrap */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.workflow-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.workflow-arrow {
  font-size: 2rem;
  color: #198754;
  user-select: none;
}
.available-action:hover {
  background-color: #e9ecef;
  cursor: pointer;
}
