<div class="container py-4">
  <!-- Bloque: Información general -->
  <form [formGroup]="formRule">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Incident Response Info</h5>
      <div class="mb-3">
        <div class="form-group">
          <label class="pb-1" for="name">Name</label>
          <div class="input-group">
            <span class="input-group-text">{{ rulePrefix }}</span>
            <input [ngClass]="inputClass.resolveClassInput(formRule.get('name'))"
                   class="border-1 border-grey-600 form-control" formControlName="name"
                   id="name"
                   name="">
          </div>

          <app-formcontrol-error [formcontrol]="formRule.get('name')"></app-formcontrol-error>
          <div *ngIf="typing && formRule.get('name').valid"
               class="checking-tag-name d-flex justify-content-start align-items-center mt-1 span-small-icon">
            <i class="icon-spinner2 spinner mr-2"></i>
            <span>Checking rule name...</span>
          </div>
          <div *ngIf="exist && !typing"
               class="checking-tag-name d-flex justify-content-start align-items-center text-danger-300 mt-1 span-small-icon">
            <i class="icon-copy4 mr-2"></i>
            <span>Rule name already exist</span>
          </div>
          <div *ngIf="!exist && !typing && formRule.get('name').value!==''"
               class="checking-tag-name d-flex justify-content-start align-items-center text-blue-800 mt-1 span-small-icon">
            <i class="icon-checkmark-circle mr-2"></i>
            <span>Rule name is valid</span>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label class="pb-1" for="description">Description
            ({{ maxLength - formRule.get('description').value.length }})</label>
          <textarea [ngClass]="inputClass.resolveClassInput(formRule.get('description'))"
                    [maxLength]="maxLength"
                    class="border-1 border-grey-600 form-control" formControlName="description"
                    id="description"
                    name=""
                    rows="5"></textarea>
          <app-formcontrol-error [formcontrol]="formRule.get('description')"></app-formcontrol-error>
        </div>
      </div>
      <app-utm-toggle (toggleChange)="formRule.get('active').setValue($event)"
                      [active]="formRule.get('active').value"
                      [emitAtStart]="false"
                      [label]="'Incident response automation is active'">
      </app-utm-toggle>
    </div>
  </div>

  <!-- Bloque: Trigger -->
  <div class="card border-start border-primary border-4 mb-4">
    <div class="card-body">
      <h6 class="text-primary">Trigger</h6>
      <div class="mt-3">
        <div formArrayName="conditions">
          <div *ngFor="let condition of ruleConditions.controls; let i = index" [formGroupName]="i"
               class="d-flex justify-content-between align-items-center mb-3">
            <ng-select [clearable]="false"
                       placeholder="Select field"
                       [items]="alertFields"
                       class="w-30"
                       [loadingText]="'Loading alert fields...'"
                       [loading]="!alertFields"
                       bindLabel="label"
                       bindValue="field"
                       formControlName="field"
                       (change)="onChangeField($event,i)"
                       id="alertField">
            </ng-select>
            <span class="font-size-lg mr-3 ml-3">IS</span>
            <!--            <input type="text" formControlName="value" placeholder="Value"-->
            <!--                   class="border-1 border-grey-600 form-control">-->
            <ng-select [addTagText]="'Add value'"
                       [addTag]="true"
                       [clearable]="false"
                       [hideSelected]="true"
                       [items]="getFieldValues(condition.get('field').value)"
                       [notFoundText]="'There aren\'t any options available, write to add new one'"
                       [loadingText]="'Loading field values....'"
                       [loading]="loadingData(condition.get('field').value)"
                       [multiple]="false"
                       [searchable]="true"
                       class="flex-grow-1 w-30"
                       formControlName="value"
                       id="values">
            </ng-select>
            <i class="icon-cross2 cursor-pointer ml-3" ngbTooltip="Delete condition"
               placement="left"
               (click)="removeRuleCondition(i)"></i>
          </div>
          <div class="d-flex justify-content-between pr-4">
            <div>
              <span *ngIf="ruleConditions.length === 0 || !ruleConditions.valid"
                    class="text-danger-300 font-size-base">
                You must set at least one trigger condition
              </span>
            </div>
            <button class="btn utm-button btn-success align-self-end" (click)="addRuleCondition()">
              <i class="icon-plus22"></i>&nbsp;
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Builder visual: Acciones -->
    <div class="card border-start border-primary border-4 mb-4">
        <div class="card-body">
        <div class="row">
      <div class="col-md-4">
        <h6 class="text-muted mb-3">Available Actions</h6>
        <div *ngIf="platforms && platforms.length === 0"
             class="w-100 alert alert-danger alert-styled-right mt-3">
       <span class="font-weight-semibold">
          You need to install at least one agent!
       </span>
        </div>

        <div *ngFor="let action of predefinedActions" class="card mb-2 available-action" (click)="addToWorkFlow(action)">
          <div class="card-body d-flex align-items-center">
            <span class="me-2 fs-5">{{ action.icon }}</span>
            <span>{{ action.label }}</span>
          </div>
        </div>

        <button class="btn btn-outline-secondary mt-3 w-100">➕ Add Custom Action</button>
      </div>

      <div class="col-md-8">
        <h6 class="text-success mb-3">Action Workflow</h6>

        <div class="d-flex flex-column">
          <div class="col-12 p-0">
            <label class="pb-1" for="exclude">Agent platform is</label>
            <ng-select [clearable]="false"
                       [items]="platforms"
                       [loadingText]="'Loading platforms...'"
                       [loading]="!platforms"
                       (change)="getAgents($event)"
                       formControlName="agentPlatform"
                       [ngClass]="inputClass.resolveClassInput(formRule.get('agentPlatform'))"
                       id="platform">
            </ng-select>
            <app-formcontrol-error [formcontrol]="formRule.get('agentPlatform')"></app-formcontrol-error>
          </div>
        </div>
        <div class="d-flex mt-3 flex-column">
          <div class="alert alert-info alert-styled-right mb-2 info-dismissible">
            <span class="font-weight-semibold">Info! </span>
            <span>Select the agent handling strategy for the automation. If <strong>not active</strong>, commands will run on specified platform agents if the trigger conditions and dataSource field value of the alert match. Alternatively, choose a <strong>default agent</strong> to run the automation if no other agent matches the criteria. If this option is <strong>active</strong>, commands will run only on specified platform agents if the trigger conditions and dataSource field value of the alert match, if not, the <strong>automation won't be executed</strong>.</span>
          </div>
          <app-utm-toggle (toggleChange)="onChangeToggle($event)"
                          [active]="formRule.get('agentType').value"
                          [emitAtStart]="false"
                          [customClass]="'pl-3'"
                          [label]="'Run on specific agent'"></app-utm-toggle>
        </div>
        <div *ngIf="!formRule.get('agentType').value" class="d-flex mt-2 mb-3 flex-column">
          <div class="col-12 p-0">
            <label class="pb-1" for="exclude">Exclude agents</label>
            <ng-select [clearable]="false"
                       [items]="agents"
                       [placeholder]="'Select agents to exclude'"
                       [loadingText]="'Loading agents...'"
                       [virtualScroll]="true"
                       [multiple]="true"
                       formControlName="excludedAgents"
                       (change)="onChangeExclude($event)"
                       bindValue="assetName"
                       bindLabel="assetName"
                       id="exclude">
            </ng-select>
          </div>
        </div>

        <div *ngIf="formRule.get('agentType').value" class="d-flex mt-2 mb-3 flex-column">
          <div  class="col-12 p-0">
            <label class="pb-1" for="exclude">Default agent</label>
            <ng-select [clearable]="false"
                       [items]="agents"
                       [placeholder]="'Select agent'"
                       [loadingText]="'Loading agents...'"
                       [virtualScroll]="true"
                       formControlName="defaultAgent"
                       bindValue="assetName"
                       bindLabel="assetName"
                       id="default">
            </ng-select>
          </div>
          <div class="col-12 p-0">
            <div class="alert alert-info alert-styled-right mt-2 info-dismissible">
              <span class="font-weight-semibold">Info! </span>
              <span>Designates the agent to execute the automation when no other agent meets the criteria to serve as the runner for this automation.</span>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column align-items-stretch gap-3 w-100">
          <div *ngFor="let action of workflow; let i = index" class="w-100">
            <div class="card workflow-card mb-0">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="me-3 fs-4">{{ action.icon }}</span>
                  <div>
                    <h6 class="mb-0">{{ action.label }}</h6>
                    <small class="text-muted">{{ action.description }}</small>
                  </div>
                </div>
                <button class="btn btn-sm btn-outline-danger" (click)="removeAction(i)">🗑</button>
              </div>
            </div>

            <div *ngIf="i < workflow.length - 1" class="text-center workflow-arrow">
              ↓
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>


    <!-- Acciones finales -->
  <div class="d-flex justify-content-end mt-4 gap-2">
    <button class="btn btn-secondary">👁 Preview</button>
    <button class="btn btn-success">💾 Save</button>
  </div>
  </form>
</div>
