
.json-container {
  //max-width: 1024px;
  overflow: auto;
}

::ng-deep {
  .ngx-json-viewer {
    overflow: auto !important;

    .segment {
      .segment-main {
        .toggler::after {
          content: '\e9c7' !important;
          font-size: 18px;
          font-family: 'icomoon', serif !important;
        }

        .segment-key, .segment-separator {
          color: #0277bd !important
        }

        .segment-value {
          white-space: normal;
        }
      }
    }

    .segment-type-null {
      .segment-value {
        white-space: normal;
        background-color: #0277bd !important;
        padding: 2px !important;
      }
    }
  }
}


.error-highlight {
  background-color: rgba(255, 0, 0, 0.2);
  border-left: 3px solid red;
  padding: 4px;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin-left: 8px;
}

.text-xs{
  font-size:9px;
}
