:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.min-width {
  width: 30%;
}

.alert-view {
  flex: 1;
  min-height: 0;
}

.alert-layout {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
