.condition-builder {
  .card {
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    }
  }

  .badge {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .section-label{
    font-weight: 600;
    font-size: .75rem!important;
  }
}


.playbook-trigger-header {
  border-left: 5px solid #337ab7;
  background-color: #f5faff;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  padding: 10px 5px;
}

.playbook-trigger-header .panel-body {
  display: flex;
  align-items: center;
}

.trigger-icon {
  font-size: 24px;
  margin-right: 15px;
}

.panel-title {
  font-size: 16px;
  margin-bottom: 2px;
}
