:host {
  display: flex;
}

.container-alert-detail {
  display: flex;
  flex-direction: column;
 width: 100%;
}

.alert-details {
  display: flex;
  gap: 0.5rem;

  .label {
    flex: 1 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }

  .value {
    flex: 2 1 0;
    min-width: 0;
    word-break: break-all;
  }
}

.z-0{
  z-index:0;
}
