:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  flex: 1 1 auto;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-card-foreground {
  color: #000000!important;
}

.border {
  border-width: 1px;
}

.rounded-lg {
  border-radius: .5rem;
}

.icon-code {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  color: #ffffff;
  flex: 1 0 auto;
  max-width: 44px;
}

.card-description {
  font-size: 1rem;
  color: #333;
}

.gap-3 {
  gap: 1rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-semibold {
  font-weight: 600;
}

.text-muted-foreground {
  color: #6f7281!important;
}

.text-xs {
  font-size: .70rem;
  line-height: 1rem;
}

.text-sm {
  font-size: .810rem;
  line-height: 1.25rem;
}

.bg-background {
  background-color: #ffffff;
}

.gy-4 {
  row-gap: 1rem;
}

.text-md {
  font-size: 1rem;
}

.icon-menu {
  color: #c6c2c2;
}

.icon-pencil:before,
.icon-trash:before {
  color: #0B1413;
}

.dropdown-toggle::after{
 display: none;
}

.top-35 {
  top: 35vh;
}

.right-50 {
  right: 50%;
}

.playbooks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
  overflow-y: auto;
  align-content: start;
}

.playbook-card {
  width: 400px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--background);
  box-shadow: var(--shadow-sm);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.action-playbook {
  display: flex;
  flex: 1 0 16px;
  max-width: 16px;
  height: 100%;
}

button[ngbDropdownToggle]:focus {
  outline: none;
  box-shadow: none;
}
