:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.message-container {

}

.card-detail {
  overflow-y: scroll;
  max-height: calc(100vh - 48px);
  height: calc(100vh - 48px);
}

.username {
  margin-left: 3px;
}
