:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.analyzer-fields {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: auto;
}

.btn-refresh{
  background-color: #d3dae696;
  color: #0277bd;
  height: 36px!important;
  border: 1px solid #d3dae696;
}
