
/* utm-json-detail-view.component.scss */
.json-detail-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.copy-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.copied-msg {
  color: green;
  font-size: 12px;
}
